<div id="tabmenu">
	<a class="tab" href="/list"><%= t("tasks.managetasks") %> (<%= current_user.tasks_count %>)</a>
	<a class="tab" href="/tasklists"><%= t("lists.title") %> (<%= current_user.tasklists_count %>)</a>
	<a class="tab" href="/preferences"><%= t("user.preferences") %></a>
	<a class="tab" href="/account"><%= t("user.account_settings") %></a>
</div>
	
<div id="settings">
<% form_for :tasklist, @tasklist, :url => { :action => "update" }  do |f| %>

<div class="formarea_left">	

<h1 class="formheader"><img src="http://static.indrode.com/5things/images/applications-accessories.png" alt="" width="32" height="32" style="vertical-align:text-bottom;" /> <%= t("lists.editlist") %></h1>	
<fieldset>
	<ol>
	<li>
		<%= f.label :title, t("lists.coltitle") %>
		<%= f.text_field :title %>
	</li>
	<li>
		<%= f.label :description, t("lists.description") %>
		<%= f.text_area :description %>
	</li>
	<li>
		<p><hr /></p>
	</li>
	<li>
		<%= f.label :security_1, t("lists.security") %>
		<%= f.radio_button :security, 0 %> <%= t("lists.private") %>
	</li>
	<li>
		<%= f.label :security_2, "&nbsp;" %>
		<%= f.radio_button :security, 1 %> <%= t("lists.public") %>
	</li>
	<li><p><%= t("lists.security_copy_1") %></p>
	</li>
	<li><%= f.label :security_4, t("lists.security_copy_2") %><a href="http://5things.zenpunch.com/share/<%= @tasklist.key %>">http://5things.zenpunch.com/share/<%= @tasklist.key %></a>
	</li>
	<li>
		<p><hr /></p>
	</li>
	<li>
		<%= f.label :maintenance_1, t("prefs.mainttitle") %> 
		<%= f.radio_button :maintenance, 1 %> <%= t("prefs.maint_1") %>
	</li>
	<li>
		<%= f.label :maintenance_2, "&nbsp;" %>
		<%= f.radio_button :maintenance, 2 %> <%= t("prefs.maint_2") %>
	</li>
	<li>
		<%= f.label :maintenance_3, "&nbsp;" %>
		<%= f.radio_button :maintenance, 3 %> <%= t("prefs.maint_3") %>
	</li>
	<li>
		<p><hr /></p>
	</li>
	<li>
		<%= f.label :env_reporting_1, t("prefs.reportprefs") %> 
		<%#= f.check_box "check_1", {}, 1, 0 %> 
		<%= check_box_tag "check_1", 1, Array[ 1, 3, 5, 7 ].include?(@tasklist.reporting) %> <%= t("prefs.reports_1") %>
	</li>
	<li>
		<%= f.label :env_reporting_2, "&nbsp;" %>
		<%= check_box_tag "check_2", 2, Array[ 2, 3, 6, 7 ].include?(@tasklist.reporting) %> <%= t("prefs.reports_2") %> 
	</li>
	<li>
		<%= f.label :env_reporting_3, "&nbsp;" %>
		<%= check_box_tag "check_3", 4, Array[ 4, 5, 6, 7 ].include?(@tasklist.reporting) %> <%= t("prefs.reports_3") %> 
		<%= f.hidden_field :reporting %>		
	</li>
	</ol>
</fieldset>


<%= f.error_messages %>	


</div>

			<div class="formarea_right">	

				<h1 class="formheader">&nbsp;</h1>

				<p class="instructions"><%= t("lists.edit_copy_1") %></p>
				<p class="instructions"><img src="http://static.indrode.com/5things/images/tick.png" width="16" height="16" alt="" />&nbsp; <%= t("lists.edit_copy_2") %></p>
				<p class="instructions"><img src="http://static.indrode.com/5things/images/tick.png" width="16" height="16" alt="" />&nbsp; <%= t("prefs.prefs_copy_2") %></p>
				<p class="instructions"><img src="http://static.indrode.com/5things/images/tick.png" width="16" height="16" alt="" />&nbsp; <%= t("lists.edit_copy_3") %></p>
				<p>&nbsp;</p>
				<div class="buttons">
					<%= link_to '<img src="http://static.indrode.com/5things/images/cross.png" alt="' + t("common.cancel") +'" width="16" height="16" />' + t("common.cancel"), "/tasklists", :class => 'negative' %>
				  <button type="submit" class="positive"><img src="http://static.indrode.com/5things/images/tick.png" alt=""/><%= t("common.save") %></button>
				</div>

			</div>
			<% end %>

						<div style="clear:both;"></div>


</div>
