<%#- javascript_tag do -%> 
<%#= "var availableTags = [" -%><%#- @bodies.each do |b| -%>'<%#= escape_javascript(h(b.body)) -%>', <%#- end -%><%#= "''];" -%>
<%#- end -%>

<% if current_user.env_other == 1 %>
<div class="message">
	<a href="#" class="close" title="<%= t("common.close") %>"><%= t("common.close") %></a>
	<h1><%= t("help.welcome") %></h1>
	<%= t("help.general") %>
</div>
<% end %>


<div id="main_div" style="clear:both;">
<%= render :partial => 'main' %>
</div>
<div style="clear:both"></div>