<div id="tabmenu">
	<a class="tab" href="/contact"><%= t("pages.contact") %></a>
	<a class="tab" href="/help"><%= t("common.help") %></a>
	<a class="tab" href="/terms"><%= t("pages.terms") %></a>
	<a class="tab" href="/privacy"><%= t("pages.privacy") %></a>
	<div class="tab current"><%= t("pages.about") %></div>
	<% unless current_user %>
	<a class="tab" href="/account/new"><%= t("user.registration") %></a>
	<% end %>
</div>

<div id="settings">
	<div class="threecol" style="width:33%; float:left;">
		<h1><img src="http://static.indrode.com/5things/images/1.png" style="vertical-align:text-bottom;" width="20" height="19" /> Plan your daily tasks</h1>
		<p style="padding-right:20px; line-height:1.4em;">With 5things you can easily keep track of your tasks for a specific day using a simple, intuitive date-view interface. Check off completed tasks, plan ahead, or jot down things that you may need in future.</p>
	</div>
	<div class="threecol" style="width:33%; float:left;">
		<h1><img src="http://static.indrode.com/5things/images/2.png" style="vertical-align:text-bottom;" width="20" height="19" /> Manage tasks in lists</h1>
		<p style="padding-right:20px; line-height:1.4em;">You may organize your tasks in as many lists as you wish. For example, you could keep track of any correspondence in one list, daily errands in another, and grocery items in a third list. You can also use lists to organize specific projects, like wedding planning, a software project, and whatever it be of use for you.</p>
	</div>
	<div class="threecol" style="width:33%; float:left;">
		<h1><img src="http://static.indrode.com/5things/images/3.png" style="vertical-align:text-bottom;" width="20" height="19" /> Sharing and more...</h1>
		<p style="line-height:1.4em;">5things adds a number of functions and settings for managing your tasks. You may share some or all of your lists with other people. From time to time, more functionality will be added, depending on the wishes and needs of you, the user.</p>
	</div>
	<div style="clear:both;"></div>
	<h1>What is 5things?</h1>
	<p class="instructions">5things was created to simplify your daily planning and increase productivity by having all your tasks and to-do items neatly organized in one place. A user can create an unlimited number of "lists" which contain a number of tasks for a given day. Completed tasks can be checked off once they have been completed or become obsolete.</p>
	<p class="instructions">The web app provides enough flexibility to be used in many different fashions, such as an events calendar, event planning, and for your various projects. Advanced functions such as reporting, exporting, and being able to share lists publicly add to the many different ways, 5things can support productivity.</p>
	<h1>About the Technology</h1>
	<p class="instructions">5things was designed and developed by <a href="http://www.indrode.com/">Indro De</a>, a web developer from Germany, in the beginning of 2010. Hosting provided by Dreamhost. Powered by Apache, mySQL, and Ruby on Rails (through Passenger).</p>
	<p class="instructions">The source code of this application will be made available on <a href="http://github.com/indrode">GitHub</a> shortly. Additionally, design and development notes will be <a href="http://blog.indrode.com/">published</a> from time to time.</p>
	<h1>Privacy and Security</h1>
	<p class="instructions">5things respects the privacy of its account holders and their data. Intentionally, no specific user data is collected apart from the email address. All user information is governed by the <a href="/terms">Terms of Service</a>. The user always retains all rights to his/her data. For more information, read the <a href="/privacy">Privacy Policy</a> or contact <%= mail_to "support@5things.zenpunch.com", "5things Support", :encode => "hex" %>.</p>
	
</div>