<div id="tabmenu">
	<a class="tab" href="/list"><%= t("tasks.managetasks") %> (<%= current_user.tasks_count %>)</a>
	<a class="tab" href="/tasklists"><%= t("lists.title") %> (<%= current_user.tasklists_count %>)</a>
	<a class="tab" href="/preferences"><%= t("user.preferences") %></a>
	<div class="tab current"><%= t("user.account_settings") %></div>
</div>
		
</div>
<div id="outside_copy">
<div class="container">
	
<% form_for @user, :url => account_path do |f| %>
<%= f.hidden_field :env_reporting %>		
<%= f.hidden_field :env_maintenance %>		
<%= f.hidden_field :env_other %>		

<div class="formarea_left">

	<h1 class="formheader"><img src="http://static.zenpunch.com/5things/images/system-users.png" alt="" width="32" height="32" style="vertical-align:text-bottom;" /> <%= t("user.account_settings") %></h1>		
	<fieldset>		
		<ol>
			<li>
				<%= f.label :email, t("user.emailaddress") %> 
				<span style="font-size:16px;"><%= @user.email %></span>
			</li>
			<li>
				<%= f.label :language, t("user.language") %> 
				<%= f.select :language, [['English', 'en'], ['Deutsch', 'de']] %>
			</li>
			<li>
				<%= f.label :time_zone, t("user.timezone") %> 
				<%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all() %>
			</li>
		<li>
			<%= f.label :password, f.object.new_record? ? nil : t("user.set_pw") %>
			<%= f.password_field :password %>&nbsp; <input id="unmask1" name="unmask1" onclick="toggleMask('user_password', 'unmask1');" type="checkbox" value="1" /> <%= t("common.unmask") %>
		</li>  
		<li>
			<%= f.label :password_confirmation, t("user.confirm_pw") %>
			<%= f.password_field :password_confirmation %>&nbsp; <input id="unmask2" name="unmask2" onclick="toggleMask('user_password_confirmation', 'unmask2');" type="checkbox" value="1" /> <%= t("common.unmask") %>
		</li>
		</ol>
	</fieldset>

	<%= render "shared/error_messages", :target => @user %> 
</div>

<div class="formarea_right">	

<h1 class="formheader">&nbsp;</h1>

	<p class="instructions"><%= t("user.edit_copy_1_html") %></p>
	<p class="instructions"><img src="http://static.zenpunch.com/5things/images/cross.png" width="16" height="16" alt="" />&nbsp; <%= t("user.edit_copy_2_html") %> <%= link_to t("user.deleteaccount"), 'delete', :class => "confirm", :rel => 'nofollow'  %>.</p>
	<p>&nbsp;</p>
	<div class="buttons">
		<%= cancel_button %>
	  <button type="submit" class="positive"><img src="http://static.zenpunch.com/5things/images/tick.png" alt=""/><%= t("common.save") %></button>
	</div>
	

</div>

<% end %>

<div style="clear:both;"></div>
</div>

<div class="jqmConfirm" id="confirm">
	<div class="jqmConfirmWindow">
	  <div class="jqmConfirmTitle clearfix"><%= t("user.delete_warning_1_html") %></div>
	  
	  <div class="jqmConfirmContent">
	  	<p class="instructions"><%= t("user.delete_warning_2_html") %></p>
	  	<p class="instructions"><span class="highlight"><%= t("user.delete_warning_3_html") %></span></p>
	  </div>
	
		<div class="buttons">
			<button type="submit" value="no" class="negative"><img src="http://static.zenpunch.com/5things/images/cross.png" alt="Cancel" width="16" height="16" /> <%= t("common.cancel") %></button>
			<button type="submit" value="yes" class="neutral"><img src="http://static.zenpunch.com/5things/images/emblem-important.png" alt="Delete" /> <%= t("user.delete_confirm") %></button>
		</div>
	
		<div style="clear:both;"></div>

	</div>
</div>
</div>