<div id="tabmenu">
	<a class="tab" href="/contact"><%= t("pages.contact") %></a>
	<a class="tab" href="/help"><%= t("common.help") %></a>
	<a class="tab" href="/terms"><%= t("pages.terms") %></a>
	<a class="tab" href="/privacy"><%= t("pages.privacy") %></a>
	<a class="tab" href="/about"><%= t("pages.about") %></a>
	<div class="tab current"><%= t("user.registration") %></div>
</div>

</div>
<div id="outside_copy">
<div class="container">
	<div class="threecol" style="width:33%; float:left;">
		<h1><img src="http://static.zenpunch.com/5things/images/1.png" style="vertical-align:text-bottom;" width="20" height="19" alt="" /> Enter your email address</h1>
		<p style="padding-right:20px; line-height:1.4em;">Enter a valid email address to start the quick and easy registration process. 5things does not ask for any other personal information.</p>
	</div>
	<div class="threecol" style="width:33%; float:left;">
		<h1><img src="http://static.zenpunch.com/5things/images/2.png" style="vertical-align:text-bottom;" width="20" height="19" alt="" /> Check your emails and confirm</h1>
		<p style="padding-right:20px;line-height:1.4em; ">Check your mailbox for "Activation Instructions" sent by the 5things mailer. Click on the activation link in the email to confirm your email address and create your new 5things account.</p>
	</div>
	<div class="threecol" style="width:33%; float:left;">
		<h1><img src="http://static.zenpunch.com/5things/images/3.png" style="vertical-align:text-bottom;" width="20" height="19" alt="" /> Get started!</h1>
		<p style="line-height:1.4em;">After you have selected your language and time zone preferences and set your password, you are logged in to 5things and can start adding tasks.</p>
	</div>
	<div style="clear:both;"></div>
			
<% form_for @user, :url => account_path do |f| %>

<div class="formarea_left">

	<h1 class="formheader"><img src="http://static.zenpunch.com/5things/images/system-users.png" alt="" width="32" height="32" style="vertical-align:text-bottom;" /> <%= t("user.registration") %></h1>		
	<fieldset class="outside_temp">
		<ol>
			<li>
				<%= f.label :email, "Enter your email-address" %>
				<%= f.text_field :email %>	
			</li>
		</ol>
	</fieldset>
	<div class="buttons">
	  <%= cancel_button %>
	  <button type="submit" class="positive"><img src="http://static.zenpunch.com/5things/images/tick.png" alt=""/><%= t("user.register") %></button>
	</div>
<%= f.error_messages %>
</div>

<div class="formarea_right">	

<h1 class="formheader">&nbsp;</h1>
	<p class="instructions"><img src="http://static.zenpunch.com/5things/images/tick.png" width="16" height="16" alt="" />&nbsp; <%= t("user.new_copy_2") %> <a href="/login"><%= t("user.loginhere") %></a></p>
	<p class="instructions"><img src="http://static.zenpunch.com/5things/images/tick.png" width="16" height="16" alt="" />&nbsp; <%= t("user.new_copy_3") %> <a href="/resend"><%= t("user.resendactivation") %></a></p>
	<p>&nbsp;</p>
</div>
	
<% end %>

<div style="clear:both;"></div>

</div>
</div>