<div id="footer2" class="<%= footerclass %>">
	<div class="container">
		<p><a href="<%= root_url %>" class="footer"><strong>5</strong>things</a> &copy; 2010 by <a href="http://www.indrode.com/" class="footer">Indro De</a> (zpc)<span style="float:right;"><a href="/about"><%= t("pages.about") %></a> &nbsp;|&nbsp; <a href="/privacy" class="footer"><%= t("pages.privacy") %></a> &nbsp;|&nbsp; <a href="/terms" class="footer"><%= t("pages.terms") %></a> &nbsp;|&nbsp; <a href="/help"><%= t("common.help") %></a> &nbsp;|&nbsp; <a href="/contact" class="footer"><%= t("pages.contact") %></a></span></p>
	</div>	
</div>