<div id="footer">
		<p><a href="/about"><%= t("pages.about") %></a> &nbsp;|&nbsp; <a href="/privacy"><%= t("pages.privacy") %></a> &nbsp;|&nbsp; <a href="/terms"><%= t("pages.terms") %></a> &nbsp;|&nbsp; <a href="/help"><%= t("common.help") %></a> &nbsp;|&nbsp; <a href="/contact"><%= t("pages.contact") %></a></p>
		<p><a href="<%= root_url %>"><strong>5</strong>things</a> &copy; 2010 by <a href="http://www.indrode.com/">Indro De</a> (zpc)</p>
</div>