<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

  <!--
    ***************************************************************************************
    *** 5things
    *** by Indro De (http://indrode.com/)
    ***************************************************************************************
  -->

  <title>5things | <%= h @title %></title>
  <meta name="robots" content="noindex">  
  <meta name="author" content="Indro De" />
  <meta name="description" content="The simple task manager and to-do list for managing all those things in your life." />
  <meta name="keywords" content="5things, productivity, five things, task manager, todo, task, zenpunch, zen punch, indro de, indro" />
  <meta name="copyright" content="5things" />
  <meta name="email" content="5things@zenpunch.com" />
  <meta name="google-site-verification" content="gklsdc5QAalgcsZVquS80BrmQ9fbHeNxK-bpW5mq_JE" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  
  <%= stylesheet_link_tag '5things' %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"></script>
    <%= javascript_include_tag 'loopedslider', 'jquery.tablesorter.min', 'jqModal', 'application2', :cache => 'outside' %>
  <script>

  $(document).ready(function() {  
    $("#sharedtable")
      .tablesorter({ 
      widthFixed: true });
  });
  </script>

  <!--[if IE]><link rel="stylesheet" type="text/css" href="/stylesheets/5things_ie.css" /><![endif]-->
</head>

<body>
<%= render :partial => 'shared/ie6nomore' %>
<div><img id="bg_image" src="http://static.zenpunch.com/5things/images/5things_bg.jpg" alt="" title="" /></div>
<%= render :partial => 'shared/outside_nav', :locals => {:headerclass => @hd || "defaultclass"} %>

<div id="showhide_button">
</div>

<%= yield %>
 
<%= render :partial => 'shared/analytics' %>
</body>
</html>